@import "./reset.css";
@import "./font.css";

/* header */
header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 0px 0px 30px;
    transition: all 0.4s;
}
header.active {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}


header .info-top {
    position: relative;
}
header .info-top .info-list {
    display: flex;
    justify-content: end;
    gap: 25px;
    margin-right: calc(50% - 800px);
}

header .info-top a {
    position: relative;
    font-size: 15px;
    padding: 10px 0;
    color: #fff;
}

header.active .info-top a {
    color: #333;
}
header .info-top .info-item:last-child a {
    padding-right: 40px;
}

header .info-top .info-item:last-child a::after {
    position: absolute;
    content: "";
    display: block;
    right: 0;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    background: url('../img/ico/ico_arrow_down_w.png') no-repeat 50% 60%;
}
header.active .info-top .info-item:last-child a::after {
    background: url('../img/ico/ico_arrow_down_b.png') no-repeat 50% 60%;
}



header .info-top .info-item a:hover {
    text-decoration: underline;
}


header .gnb {
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: relative;
}

header .gnb .main_menu {
    color: #fff;
    font-size: 21px;
}
header.active .gnb .main_menu {
    color: #333;
}

header .gnb .main-logo {
    width: 170px;
    height: 45px;
    background: url('../img/busan_logo_wh.svg') no-repeat;
    background-size: 100%;
    background-position: bottom;
    position: relative;
    left: calc(50% - 800px);
}
header.active .gnb .main-logo {
    background: url('../img/busan_logo.svg') no-repeat;
    background-size: 100%;
    background-position: bottom;
}


header .gnb .main-logo a{ 
    height: 100%;
}

header .gnb_list {
    position: absolute;
    width: 1170px;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    display: flex;
    text-align: center;
    z-index: 9;
}

header .gnb_list .gnb_item > a {
    padding: 10px 0;
    position: relative;
}
header .gnb_list .gnb_item > a:hover {
    color: #e4007e !important;
}

header .gnb_list .gnb_item > a::after {
    content: "";
    position: absolute;
    top: 18px;
    right: 0;
    width: 1px;
    height: 13px;
    background: #ccc;
}

header .gnb_list .gnb_item:last-child > a::after {
    display: none;
}

header .gnb_list .gnb_item {
    flex: 0 0 20%;
}


header .sub_list {
    padding: 25px 30px;
    font-size: 16px;
    
    height: 458px;

    text-align: left;

    position: absolute;
    width: 234px;
    top: 65px;
    border-right: 1px solid #ccc;
    display: none;
}
header .gnb_item:first-child .sub_list {
    border-left: 1px solid #ccc;
}

header .sub_list .sub_item .sub_menu {
    position: relative;
    padding-left: 15px;

    padding: 5px 0;
    padding-left: 10px;
    font-size: 17px;
}

header .sub_list .sub_item .sub_menu::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background-color: #333;
    width: 5px;
    left: 0;
}

header .sub_list .sub_item .sub_menu:hover::before {
    background-color: #e4007e;
}

header .sub_list .sub_item .sub_menu:hover {
    color: #e4007e !important;
}

header .sub_list.ico_menu .sub_menu {
    padding-left: 25px;
}

header .sub_list.ico_menu .sub_item .sub_menu:hover::before {
    background-color: transparent;
}
header .sub_list.ico_menu .sub_menu::before {
    background-color: transparent;
    width: 28px;
    height: 28px;
    left: -10px;
}

header .sub_list.ico_menu .sub_item:nth-child(1) .sub_menu:before {
    background: url('../img/ico/ico_depart12.svg') no-repeat top/cover;
}
header .sub_list.ico_menu .sub_item:nth-child(2) .sub_menu:before {
    background: url('../img/ico/ico_depart02.svg') no-repeat top/cover;
}
header .sub_list.ico_menu .sub_item:nth-child(3) .sub_menu:before {
    background: url('../img/ico/ico_depart03.svg') no-repeat top/cover;
}
header .sub_list.ico_menu .sub_item:nth-child(4) .sub_menu:before {
    background: url('../img/ico/ico_depart15.svg') no-repeat top/cover;
}
header .sub_list.ico_menu .sub_item:nth-child(5) .sub_menu:before {
    background: url('../img/ico/ico_depart04.svg') no-repeat top/cover;
}
header .sub_list.ico_menu .sub_item:nth-child(6) .sub_menu:before {
    background: url('../img/ico/ico_depart05.svg') no-repeat top/cover;
}
header .sub_list.ico_menu .sub_item:nth-child(7) .sub_menu:before {
    background: url('../img/ico/ico_depart06.svg') no-repeat top/cover;
}
header .sub_list.ico_menu .sub_item:nth-child(8) .sub_menu:before {
    background: url('../img/ico/ico_depart07.svg') no-repeat top/cover;
}
header .sub_list.ico_menu .sub_item:nth-child(9) .sub_menu:before {
    background: url('../img/ico/ico_depart08.svg') no-repeat top/cover;
}
header .sub_list.ico_menu .sub_item:nth-child(10) .sub_menu:before {
    background: url('../img/ico/ico_depart13.svg') no-repeat top/cover;
}
header .sub_list.ico_menu .sub_item:nth-child(11) .sub_menu:before {
    background: url('../img/ico/ico_depart10.svg') no-repeat top/cover;
}
header .sub_list.ico_menu .sub_item:nth-child(12) .sub_menu:before {
    background: url('../img/ico/ico_depart14.svg') no-repeat top/cover;
}

header .search_sitemap_box {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: calc(50% - 800px);
}
header .search_sitemap_box .search_btn {
    width: 30px;
    height: 30px;
    background: url('../img/ico/ico_search_w.png') no-repeat;
}
header.active .search_sitemap_box .search_btn {
    background: url('../img/ico/ico_search_b.png') no-repeat;
}

header .search_sitemap_box .sitemap_btn {
    width: 25px;
    height: 23px;
    position: relative;
}


header .search_sitemap_box .sitemap_btn span {
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
}
header.active .search_sitemap_box .sitemap_btn span {
    background-color: #333;
}


header .search_sitemap_box .sitemap_btn span.a {
    top: 0;
}

header .search_sitemap_box .sitemap_btn span.b {
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
}
header .search_sitemap_box .sitemap_btn span.c {
    bottom: 0;
}

header .menu_bg {
    width: 100%;
    height: 480px;
    background-color: #fff;
    position: relative;
    top: 30px;
    z-index: 1;
    display: none;
    border-top: 1px solid #e8e8e8;
}

.menu_open_black {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 1px solid blue;
    z-index: 98;

    display: none;
}


/* main */

main {
    width: 100%;
    height: 100%;
    position: relative;
}
main .main_video_bg {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent 30%);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

main video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

main .main_search_box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 99;

    display: none;
}


main .main_search_box .search_form {
    position: absolute;
    width: 600px;
    height: 100px;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.search_form fieldset {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.search_form fieldset .search_input {
    width: 100%;
    outline: none;
    border: none;
    height: 60px;
    background-color: #fff;
    border-radius: 30px;
    padding: 0px 30px;
    font-size: 17px;
}

.search_form fieldset .main_search_btn {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 15px;
    right: 20px;
    background: url("../img/ico/ico_search_b.png") no-repeat top/cover;
}

main .main_search_box .close_search_box {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 35%;
    right: 13%;
}

main .main_search_box .close_search_box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: rotate(45deg);
}

main .main_search_box .close_search_box::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: rotate(-45deg);
}


main .search_open_btn {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 11;
    position: absolute;
    bottom: calc(76px + 128px);
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/ico/ico_search_b.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 50% 50%;
}


main .search_open_btn.active {
    outline: 2px solid #000;
}

section .inner .sc_title {
    font-family: 'KOHIBaeum';
    text-align: center;
    font-size: 32px;
    color: #585858;
    margin-bottom: 40px;
}
.sc_info {
    margin-top: 50px;
}

.sc_info .inner {
    width: 1600px;
    margin: 0 auto;
}


.sc_info .title_link_box {
    position: relative;
} 

.sc_info .title_link_box .title_link_list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sc_info .title_link_box .title_link_list .title_link_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sc_info .title_link_box .title_link_list .title_link {
    padding: 8px 25px 9px;
    margin: 0px 10px;
    border: 1px solid #000;
    border-radius: 30px;
    font-size: 18px;
    transition: all .3s;
    color: #222;
    font-weight: 400;
}

.sc_info .title_link_box .title_link_list .title_link.domoheon {
    padding-left: 55px;
    background-size: auto 28px;
    background-image: url('../img/ico/icon_domoheon.png');
    background-position: left 20px center;
    background-repeat: no-repeat;
}



.sc_info .title_link_box .title_link_list .title_link:hover {
    background-color: #e4007e;
    border: 1px solid #e4007e;
    color: #fff;
}


.sc_info .title_link_box .title_link_list .title_link i {
    position: relative;
    width: 10px;
    height: 10px;
    margin-left: 3px;
    display: inline-block;
    margin-bottom: 2px;
}

.sc_info .title_link_box .title_link_list .title_link i::before {
    width: 8px;
    height: 1px;
    background-color: #000;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sc_info .title_link_box .title_link_list .title_link i::after {
    width: 8px;
    height: 1px;
    background-color: #000;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
}

.sc_info .title_link_box .title_link_list .title_link:hover i::before, 
.sc_info .title_link_box .title_link_list .title_link:hover i::after {
    background-color: #fff;
}


.sc_info .sc_info_cont {
    position: relative;
    margin-top: 90px;
    width: 100%;
}
.sc_info .sc_info_cont .card_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex: 0 0 23%;
    gap: 2%;
}



.sc_info .sc_info_cont .card_list .card_item {
    width: 23%;
    height: 200px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    
    opacity: 0.5;
    transform: translateY(50%);
    transition: transform 1s ease-out, margin-top 0.3s, opacity 1s ease-out;
}

.sc_info .sc_info_cont .card_list .card_item.active {
    opacity: 1;
    transform: translateY(0);
}

.sc_info .sc_info_cont .card_list .card_item:hover {
    margin-top: -10px;
    box-shadow: 20px 20px 10px 1px rgba(0, 0, 0, 0.2);
}

.sc_info .sc_info_cont .card_list .card_item .gra_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border-radius: 32px;
    transform: translate(-3px, -3px);
    z-index: 0;
    overflow: hidden;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.sc_info .sc_info_cont .card_list .card_item .gra_bg::before {
        content: "";
        position: absolute;
        top: calc(50% - 300px);
        left: calc(50% - 300px);
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background-image: linear-gradient(45deg, #e50048 40%, #0086ce 60%);
        animation: AnimateBorder2 3s ease infinite;
        opacity: 0;
        transition: all 0.3s ease-in-out;
}

.sc_info .sc_info_cont .card_list .card_item:hover .gra_bg::before {
    opacity: 1;
}

.sc_info .sc_info_cont .card_list .card_item .card_link {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all .3s;
    border-radius: 30px;
    padding: 25px 20px 10px 20px;
}


.sc_info .sc_info_cont .card_list .card_item .card_link .card_title {
    font-family: "KOHIBaeum";
    font-size: 25px;
    padding: 0px 10px;
    color: #585858;
}


.sc_info .card_item.cd01 .card_link {
    background: url('../img/ico/ico_news.svg') no-repeat right 36px top 30px/54px;
}
.sc_info .card_item.cd01 .card_link .cd01_menu {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
}
.sc_info .card_item.cd01 .card_link .cd01_menu li {
    flex-basis: calc(50% - 5px); 
    height: 40px;
    border: 1px solid #ddd;
    margin-right: 10px;
    margin-bottom: 8px;
    border-radius: 30px;
    transition: .3s;
}

.sc_info .card_item.cd01 .card_link .cd01_menu li:hover {
    background-color: #e4007e;
}

.sc_info .card_item.cd01 .card_link .cd01_menu li a{
    height: 100%;
    width: 100%;
    display: block;
}
.sc_info .card_item.cd01 .card_link .cd01_menu li:nth-child(2n) {
    margin-right: 0; /* 짝수번째 항목의 오른쪽 간격을 없앰 */
}


.sc_info .card_item.cd01 .card_link .cd01_menu li:nth-child(1) {
    background-image: url('../img/ico/busan_news_icon_kor.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 17px;
}
.sc_info .card_item.cd01 .card_link .cd01_menu li:nth-child(2) {
    background-image: url('../img/ico/busan_news_icon_eng.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 17px;
}
.sc_info .card_item.cd01 .card_link .cd01_menu li:nth-child(3) {
    background-image: url('../img/ico/busan_news_icon_jpn.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 17px;
}
.sc_info .card_item.cd01 .card_link .cd01_menu li:nth-child(4) {
    background-image: url('../img/ico/busan_news_icon_cn.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 17px;
}

.sc_info .card_item.cd01 .card_link .cd01_menu li:nth-child(1):hover {
    background-image: url('../img/ico/busan_news_icon_kor_w.svg');
}
.sc_info .card_item.cd01 .card_link .cd01_menu li:nth-child(2):hover {
    background-image: url('../img/ico/busan_news_icon_eng_w.svg');
}
.sc_info .card_item.cd01 .card_link .cd01_menu li:nth-child(3):hover {
    background-image: url('../img/ico/busan_news_icon_jpn_w.svg');
}
.sc_info .card_item.cd01 .card_link .cd01_menu li:nth-child(4):hover {
    background-image: url('../img/ico/busan_news_icon_cn_w.svg');
}


.sc_info .card_item.cd02 .card_link {
    background: url('../img/ico/ico_calender.svg') no-repeat right 36px top 30px/54px;
}


.sc_info .card_item.cd02 .card_link .txt_box {
    padding: 10px;
    margin-top: 18px;
}
.sc_info .card_item.cd02 .card_link .txt_box p {
    line-height: 1.3;
}

.sc_info .card_item.cd02 .card_link .direct {
    position: relative;
    width: 35px;
    height: 35px;
    border: 1px solid #585858;
    border-radius: 50%;
    margin: 0px 10px;
    margin-top: 5px;
}

.sc_info .card_item.cd02 .card_link .direct i {
    width: 20px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url("../img/ico/ico_arrow_right_b.svg");
    background-repeat: no-repeat;
    background-position: center;
}


.sc_info .sc_info_cont .card_list .card_item.cd03 .card_link .card_title{
    color: #fff; 
    line-height: 1.1;
}

.sc_info .card_item.cd03 .card_link {
    background-image: url('../img/tour_thum.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.sc_info .card_item.cd03 .card_link .cd03_list {
    position: absolute;
    right: 6%;
    top: 51%;
    transform: translate(0, -50%);
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    left: auto;
}

.sc_info .card_item.cd03 .card_link .cd03_list .cd03_item {
    background-color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 3px 3px;
    background-size: auto;
    transition: all .3s;
}
.sc_info .card_item.cd03 .card_link .cd03_list .cd03_item a {
    display: block;
    width: 100%;
    height: 100%;
}
.sc_info .card_item.cd03 .card_link .cd03_list .cd03_item:nth-child(2n) {
    margin-left: 12px;
}

.sc_info .card_item.cd03 .card_link .cd03_list .cd03_item:hover {
    background-color: #e4007e;
}

.sc_info .card_item.cd03 .card_link .cd03_list .cd03_item:nth-child(1) {
    background-image: url('../img/ico/ico_dabom.png');
    background-repeat: no-repeat;
    background-position: 50% 55%;
    background-size: auto;
}
.sc_info .card_item.cd03 .card_link .cd03_list .cd03_item:nth-child(2) {
    background-image: url('../img/ico/ico_visitbusan.png');
    background-repeat: no-repeat;
    background-position: 50% 55%;
    background-size: auto;
}
.sc_info .card_item.cd03 .card_link .cd03_list .cd03_item:nth-child(3) {
    background-image: url('../img/ico/ico_galmaet.png');
    background-repeat: no-repeat;
    background-position: 50% 55%;
    background-size: auto;
}
.sc_info .card_item.cd03 .card_link .cd03_list .cd03_item:nth-child(4) {
    background-image: url('../img/ico/ico_medicalbusan.png');
    background-repeat: no-repeat;
    background-position: 50% 55%;
    background-size: auto;
}

.sc_info .card_item.cd03 .card_link .cd03_list .cd03_item:nth-child(1):hover {
    background-image: url('../img/ico/ico_dabom_white.png');
}
.sc_info .card_item.cd03 .card_link .cd03_list .cd03_item:nth-child(2):hover {
    background-image: url('../img/ico/ico_visitbusan_white.png');
}
.sc_info .card_item.cd03 .card_link .cd03_list .cd03_item:nth-child(3):hover {
    background-image: url('../img/ico/ico_galmaet_white.png');
}
.sc_info .card_item.cd03 .card_link .cd03_list .cd03_item:nth-child(4):hover {
    background-image: url('../img/ico/ico_medicalbusan_white.png');
}

.sc_info .card_item.cd04 .card_link {
    background: url('../img/bg_mayor_ver9.jpg') no-repeat top/cover;
    color: #fff;
}
.sc_info .card_item.cd04 .mayor_tit {
    height: 70px;
    position: absolute;
    right: 8%;
    font-size: 22px;
    font-weight: 600;
}

.sc_info .card_item.cd04 .mayor_tit span {
    font-size: 14px;
}

.sc_info .card_item.cd04 .mayor_list {
    width: 300px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    bottom: 12px;
    right: 0;
}

.sc_info .card_item.cd04 .mayor_list .mayor_item {
    width: 135px;
    margin-bottom: 5px;
    border: 1px solid #fff;
    border-radius: 30px;
}
.sc_info .card_item.cd04 .mayor_list .mayor_item a {
    padding: 7px 11px;
    background: transparent;
    backdrop-filter: none;
    position: relative;
}

.sc_info .card_item.cd04 .mayor_list .mayor_item a i {
    position: absolute;
    top: 50%;
    right: 11px;
    transform: translateY(-50%);
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 3px;
}

.sc_info .card_item.cd04 .mayor_list .mayor_item a i::before {
    width: 8px;
    height: 1px;
    background: #fff;
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    right: 0px;
    transform: translateX(-50%);
}
.sc_info .card_item.cd04 .mayor_list .mayor_item a i::after {
    width: 8px;
    height: 1px;
    background: #fff;
    transform: translate(-50%, -50%) rotate(90deg);
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    right: 0px;
}


.sc_info .sc_service_bar {
    margin-top: 100px;
}

.sc_info .sc_service_bar .service_list {
    width: 1260px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sc_info .sc_service_bar .service_list .service_item a{
    width: 114.545px;
    height: 90px;
    text-align: center;    
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    justify-content: center; /* 세로 가운데 정렬 */
    align-items: center; /* 가로 가운데 정렬 */
}
.sc_info .sc_service_bar .service_list .service_item a i {
    width: 50px;
    height: 50px;
    display: block;
    position: relative;
    margin-bottom: 10px;
    border: none;
    transition: all .1s;
}

.sc_info .sc_service_bar .service_list .service_item:nth-child(1) a i {
    background: url('../img/ico/ico_depart12.svg') no-repeat top/cover;
}
.sc_info .sc_service_bar .service_list .service_item:nth-child(2) a i {
    background: url('../img/ico/ico_depart02.svg') no-repeat top/cover;
}
.sc_info .sc_service_bar .service_list .service_item:nth-child(3) a i {
    background: url('../img/ico/ico_depart03.svg') no-repeat top/cover;
}
.sc_info .sc_service_bar .service_list .service_item:nth-child(4) a i {
    background: url('../img/ico/ico_depart15.svg') no-repeat top/cover;
}
.sc_info .sc_service_bar .service_list .service_item:nth-child(5) a i {
    background: url('../img/ico/ico_depart04.svg') no-repeat top/cover;
}
.sc_info .sc_service_bar .service_list .service_item:nth-child(6) a i {
    background: url('../img/ico/ico_depart05.svg') no-repeat top/cover;
}
.sc_info .sc_service_bar .service_list .service_item:nth-child(7) a i {
    background: url('../img/ico/ico_depart06.svg') no-repeat top/cover;
}
.sc_info .sc_service_bar .service_list .service_item:nth-child(8) a i {
    background: url('../img/ico/ico_depart07.svg') no-repeat top/cover;
}
.sc_info .sc_service_bar .service_list .service_item:nth-child(9) a i {
    background: url('../img/ico/ico_depart08.svg') no-repeat top/cover;
}
.sc_info .sc_service_bar .service_list .service_item:nth-child(10) a i {
    background: url('../img/ico/ico_depart13.svg') no-repeat top/cover;
}
.sc_info .sc_service_bar .service_list .service_item:nth-child(11) a i {
    background: url('../img/ico/ico_depart10.svg') no-repeat top/cover;
}
.sc_info .sc_service_bar .service_list .service_item:nth-child(12) a i {
    background: url('../img/ico/ico_depart14.svg') no-repeat top/cover;
}

/* 알림 영역 */

.sc_notice {
    position: relative;
    margin-top: 200px;
}

.sc_notice .inner {
    width: 1600px;
    margin: 0 auto;
}

.sc_notice .notice_box {
    margin-top: 120px;
}
.sc_notice .notice_tit {

    width: 31%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sc_notice .notice_tit h3 {
    font-family: "KOHIBaeum";
    color: #585858;
    font-size: 20px;
}
.sc_notice .notice_tit a {
    padding: 0px 8px;
    border-radius: 30px;
    border: 1px solid #222; 
    transition: 0.3s;
}

.sc_notice .notice_box .notice_tit a:hover {
    background-color: #222;
    color: #fff;
}

.sc_notice .sc_notice_cont {
    margin-top: 50px;
}


.sc_notice .sc_notice_cont {
    position: relative;
    width: 100%;
}

.sc_notice .card_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    transform: translateY(50%);
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
}


.sc_notice .card_list.active {
    transform: translateY(0);
    opacity: 1;
}



.sc_notice .card_list .card_item {
    width: 506.667px;
    margin-right: 40px;
    height: 195px;
    position: relative;
    border-radius: 30px;
    transition: all .3s;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
}

.sc_notice .card_list .card_item:hover {
    margin-top: -10px;
    box-shadow: 20px 20px 10px 1px rgba(0, 0, 0, 0.2);
}

.sc_notice .card_list .card_item .gra_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border-radius: 32px;
    transform: translate(-3px, -3px);
    z-index: 0;
    overflow: hidden;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.sc_notice .card_list .card_item .gra_bg::before {
        content: "";
        position: absolute;
        top: calc(50% - 300px);
        left: calc(50% - 300px);
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background-image: linear-gradient(45deg, #e50048 40%, #0086ce 60%);
        animation: AnimateBorder2 3s ease infinite;
        opacity: 0;
        transition: all 0.3s ease-in-out;
}

.sc_notice .card_list .card_item:hover .gra_bg::before {
    opacity: 1;
}

.sc_notice .card_list .card_item .card_link {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all .3s;
    border-radius: 30px;
    padding: 30px;
}


.sc_notice .card_list .card_item .card_link .card_title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    color: #585858;
    font-weight: 600;
    margin-bottom: 15px;
}
.sc_notice .card_list .card_item .card_link .card_txt {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 두 줄까지만 표시 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 47px;
    width: 100%;
    font-size: 16px;
    color: #888;
}

.sc_notice .card_list .card_item .card_link .date {
    color: #888;
    font-size: 16px;
    position: absolute;
    bottom: 20px;
    right: 30px;
}


.sc_notice .notice_box_bottom {
    margin-top: 100px;
}

.sc_notice .notice_box_bottom .notice_tit {
    padding: 20px 0;
    width: 100%;
    border-bottom: 4px solid #585858;
}


.sc_notice .notice_box_bottom .notice_b_list {
    display: flex;
    width: 100%;
}
.sc_notice .notice_box_bottom .notice_b_list .notice_b_item {
    width: 506.667px;
    margin-right: 40px;
    height: 195px;
}

/* 소통영역 */

.sc_communicate .inner {
    width: 1600px;
    margin: 0 auto;
}
.sc_communicate .sc_title {
    margin: 80px 0 100px !important;
}

.sc_communicate .flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sc_communicate .flex .commu_link_box {
    width: 40%;
}
.sc_communicate .flex .commu_card {
    width: 49%;
    padding-right: 30px;

    transform: translateY(20%);
    opacity: 0;
    transition: transform 1s, opacity 1s;
}

.sc_communicate .flex .commu_card.active {
    transform: translateY(0);
    opacity: 1;
}




.sc_communicate .commu_link_box h3 {
    font-size: 23px;
    font-weight: 600;
    color: #585858;
    margin-bottom: 30px;
}

.sc_communicate .commu_link_box .commu_link_list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-right: 15%;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item a {
    padding: 10px 25px 10px 50px;
    margin: 10px 5px;
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 40px;
    transition: all .3s;
    position: relative;
    display: inline-block;
    color: #000;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item01 a {
   padding-left: 25px;
   padding-right: 40px;
}

.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item01 a span {
    font-weight: 700;
    color: #0086ce;
}

.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item01 a:hover span {
    color: #fff;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item02 a {
    padding-left: 78px;
    background-image: url('../img/ico/icon_10.svg');
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: 45px auto;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item02 a:hover {
    
    background-image: url('../img/ico/icon_10_hover.svg');
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: 45px auto;
}

.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item03 a {
    background-image: url('../img/ico/ico_mic.svg');
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: auto 30px;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item03 a:hover {

    background-image: url('../img/ico/ico_mic_w.svg');
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: auto 30px;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item04 a {
    background-image: url('../img/ico/ico_note.svg');
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: auto 30px;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item04 a:hover {
    background-image: url('../img/ico/ico_note_w.svg');
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: auto 30px;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item05 a {
    background-image: url('../img/ico/icon_11.svg');
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: auto 25px;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item05 a:hover {
    background-image: url('../img/ico/icon_11_hover.svg');
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: auto 25px;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item06 a {
    background-image: url('../img/ico/ico_youtube.svg');
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: auto 25px;
    padding-left: 60px;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item06 a:hover {
    background-image: url('../img/ico/ico_youtube_w.svg');
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: auto 25px;
    padding-left: 60px;
}

.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item07 a {
    background-image: url('../img/ico/ico_instagram.svg');
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: auto 25px;
}

.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item07 a:hover {
    background-image: url('../img/ico/ico_instagram_w.svg');
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: auto 25px;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item08 a::before {
    position: absolute;
    content: "B";
    display: block;
    top: 0px;
    left: 20px;
    color:#03c75a;
    width: 10px;
    height: 10px;
    font-weight: 900;
    font-size: 30px;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item08:hover a::before {
    color: #fff;
}

.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item09 a {
    background-image: url('../img/ico/ico_facebook.svg');
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: auto 30px;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item09 a:hover {
    background-image: url('../img/ico/ico_facebook_w.svg');
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: auto 30px;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item10 a {
    background-image: url('../img/ico/ico_bugi_w.svg');
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: auto 35px;
    padding-left: 65px;
    padding-right: 60px;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item11 a {
    padding-left: 30px;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item11 a strong{
    font-weight: 900;
    font-size: 30px;
    color: #e83474;
    position: absolute;
    top: -3px;
    left: 10px;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item11 a:hover strong {
    color: #fff;
}

.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item12 a {
    background-image: url('../img/ico/ico_beb_color.png');
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: auto 30px;
    padding-left: 100px;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item12 a:hover {
    background-image: url('../img/ico/ico_beb_hover.png');
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: auto 30px;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item13 a {
    background-image: url('../img/ico/media-hub-eng.svg');
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: auto 20px;
    padding-left: 95px;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item13 a:hover {
    background-image: url('../img/ico/media-hub-eng_w.svg');
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: auto 20px;
}

.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item14 a {
    background-image: url('../img/ico/icon_camp.png');
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: auto 20px;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item.item14 a:hover {
    background-image: url('../img/ico/icon_camp_hover.png');
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: auto 20px;
}





.sc_communicate .commu_link_box .commu_link_list .commu_link_item a:hover {
    color: #fff;
    background-color: #000;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item a i {
    position: absolute;
    top: 50%;
    right: 11px;
    transform: translateY(-50%);
    display: inline-block;
    width: 10px;
    height: 10px;
}

.sc_communicate .commu_link_box .commu_link_list .commu_link_item a i::before {
    width: 8px;
    height: 1px;
    background: #000;
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    right: 0px;
    transform: translateX(-50%);
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item a i::after {
    width: 8px;
    height: 1px;
    background: hsl(0, 0%, 0%);
    transform: translate(-50%, -50%) rotate(90deg);
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    right: 0px;
}

.sc_communicate .commu_link_box .commu_link_list .commu_link_item a:hover i::before {
    background-color: #fff;
}
.sc_communicate .commu_link_box .commu_link_list .commu_link_item a:hover i::after {
    background-color: #fff;
}

.sc_communicate .commu_card .social_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sc_communicate .commu_card .social_list .social_item {
    width: 330px;
    height: 410px;
    margin-bottom: 50px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    transition: transform .3s;
}
.sc_communicate .commu_card .social_list .social_item:nth-child(2n) {
    position: relative;
    transform: translateY(45%);
}
.sc_communicate .commu_card .social_list .social_item a {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    transition: all 0.3s;
    padding: 30px;
}

.sc_communicate .commu_card .social_list .social_item a:hover {
    background-color: #e4007e;
}


.sc_communicate .commu_card .social_list .social_item .social_card_title {
    font-family: "KOHIBaeum";
    font-size: 28px;
    color: #585858;
}


.sc_communicate .commu_card .social_list .social_item .social_card_title span {
    display: block;
    line-height: 1.1;
}
.sc_communicate .commu_card .social_list .social_item a:hover .social_card_title {
    color: #fff;
}


.sc_communicate .commu_card .social_list .social_item p {
    margin-top: 15px;
    font-size: 16px;
    color: #585858;
}

.sc_communicate .commu_card .social_list .social_item a:hover p  {
    color: #fff;
}











.sc_communicate .commu_card .social_list .social_item.cd01 {
    background-image: url('../img/031408B0602976-a9922607043646fe86906ca34616f76e.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
.sc_communicate .commu_card .social_list .social_item.cd02 {
    background-image: url('../img/031315B3741882-1c6e4b440c4e4cfd9c08a579c37506db.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 150%;
}

.sc_communicate .commu_card .social_list .social_item.cd03 {
    background-image: url('../img/484042983_1034845992011032_6202320441593581406_n.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.sc_communicate .commu_card .social_list .social_item.cd03 a:hover {
    background-color: transparent;
}

.sc_communicate .commu_card .social_list .social_item.cd04 {
    background-image: url('../img/sddefault.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
.sc_banner  {
    margin-top: 170px;
}

.sc_banner .inner {
    width: 1400px;
    margin: 0 auto;
}

.sc_banner .inner .sc_title {
    margin-bottom: 80px;
    margin-top: 300px;
}


.sc_banner .sc_banner_link {
    width: 100%;
    text-align: center;
}
.sc_banner .sc_banner_link a {
    border: 1px solid #222;
    display: inline-block;
    font-size: 18px;
    padding: 17px 120px 17px 160px;
    border-radius: 40px;
    position: relative;
    color: #222;
    transition: all .3s;
}

.sc_banner .sc_banner_link a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 25%;
    display: inline-block;
    width: 40px;
    height: 25px;
    background: url('../img/ico/ico_img.svg') no-repeat center / contain;
    transform: translateY(-50%);
}

.sc_banner .sc_banner_link a:hover {
    background-color: #222;
    color: #fff;
}


.sc_banner .sc_banner_link a:hover::before {
    background: url('../img/ico/ico_img_w.svg') no-repeat center / contain;
}



/* footer */

#footer {
    margin-top: 120px;
    position: relative;
    background: #fff;
    padding: 0 0 100px;
}

#footer .inner {
    width: 1600px;
    margin: 0 auto;
}

#footer .footerTop {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#footer .footerTop .familySite {
    display: flex;
}
#footer .footerTop .familySite .cell {
    width: 320px;
    border: 1px solid #ddd;
    margin-top: 0;
    margin-right: -1px;
    border-top: none;
    border-bottom: none;
}

#footer .familySite .cell > ul > li {
    position: relative;
}
#footer .familySite .cell > ul > li > a {
    line-height: 54px;
    padding: 0 20px;
    text-align: left;
    display: block;
    color: #222;
    font-size: 18px;
}
#footer .familySite .cell > ul ul {
    display: none;
    position: absolute;
    bottom: 55px;
    left: -1px;
    width: calc(100% + 2px);
    height: 200px;
    padding: 10px 20px;
    background: #f1f1f1;
    text-align: left;
    line-height: 1.4;
    overflow-y: auto;
}

#footer .familySite .cell > ul > li > a:after {
    content: "";
    position: absolute;
    top: 18px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: url('../img/ico/ico_arrow_down_b.png') no-repeat center;
    transition: 0.4s;
}

#footer .footerBody {
    margin-top: 40px;
}
#footer .footerBody .inner {
    display: flex;
}

#footer .footerBody .inner article {
    flex: 0 0 70%;
    max-width: 70%;
    text-align: left;
    width: 100% !important;
}
#footer .footerMenu {
    text-align: left;
}
#footer .footerMenu ul {
    display: inline-block;
}
#footer .footerMenu li {
    display: inline-block;
    margin-right: 1em;
    position: relative;
    line-height: 1;
    margin-bottom: 1em;
    font-size: 17px;
    color: #000;
}
#footer .footerMenu li a:hover{ 
    text-decoration: underline;
}

#footer .footerMenu li a span {
    color: #0f6ca1;
}

#footer .footerMenu li:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    width: 1px;
    height: 10px;
    background: #ccc;
    transform: translateY(-50%);
}
#footer .footerMenu li:first-child::before {
    display: none;
}

#footer .footerAddress {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    font-size: 0.9em;
    margin-bottom: 1em;
}

#footer .footerAddress .footerLogo {
    margin-right: 20px;
    width: 110px;
    height: 24px;
}

#footer .footerAddress .footerLogo > a {
    display: block;
    width: 100%;
    height: 100%;
}
#footer .footerAddress .footerLogo > a > img {
    display: block;
    width: 100%;
    height: 100%;
}

#footer .footTxt {

    font-size: 16px;
}
#footer .footTxt > div {
    margin-bottom: 1em;
}
#footer .footTxt > div > a {
    color: #0f6ca1;
    border-bottom: 1px solid #0f6ca1;
    margin-right: 1.5em;
    display: inline-block;
}
#footer .footTxt > div > a:last-child {
    margin-right: 0;
}

#footer .footerAddress .copyright {
    flex: 0 0 100%;
    max-width: 100%;
    color: #000;
    font-size: 16px;
}

#footer .footerBody .inner article:last-child {
    flex: 0 0 30%;
    max-width: 30%;
}

#footer .footerSns {
    justify-content: flex-end;
    display: flex;
    gap: 10px;
}

footer .footerSns > a {
    display: block;
    position: relative;
    width: 2.5em;
    height: 2.5em;
    text-align: left;
    transform: scale(1.2);
}

#footer .footerSns .befm {
    width: 5em;
}

#footer .footerSns a:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../img/ico/ico_sns.png') no-repeat;
    background-size: cover;
}

#footer .footerSns .insta:before {
    background-position: -17.5em center;
}
#footer .footerSns .twitter:before {
    background-position: -2.5em center;
}
#footer .footerSns .facebook:before {
    background-position: -5em center;
}
#footer .footerSns .naverblog:before {
    background-position: -7.5em center;
}
#footer .footerSns .kakaostory:before {
    background-position: -10em center;
}
#footer .footerSns .youtube:before {
    background-position: -12.5em center;
}
#footer .footerSns .befm:before {
    background-position: -20em center;
}

#footer .footerSns:after {
    content: "";
    display: block;
    clear: both;
}

#footer .footMinwon {
    text-align: right;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
#footer .footMinwon .callTxt {
    padding-right: 1.2%;
    box-sizing: border-box;
    font-size: 18px;
}
#footer .footMinwon .callTxt b {
    display: block;
    font-weight: 600;
}
#footer .footMinwon .callNum {
    margin-left: 10px;
    font-size: 2.5em;
}
#footer .footMinwon .callNum a {
    text-decoration: none;
    color: #222;
}
#footer .footMinwon .txt {
    flex: 0 0 100%;
    margin-top: 5px;
    letter-spacing: -0.023em;
    font-size: 17px;
}
#footer .footMark {
    text-align: right;
}
#footer .footMark > a {
    margin-right: 2em;
    display: inline-block;
    vertical-align: center;
}

#footer .footMark img {
    vertical-align: middle;
}
#footer .footMark > a:last-child {
    margin-right: 0;
}


@keyframes AnimateBorder2 {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0);
    }
}